In [38]:
import pandas as pd
import pymongo
from app import collection
import string

df = pd.DataFrame.from_records(collection.find())
df.head()

,_id,Title,Senior,Company,Location,Salary,Currency
0,6356b67edfe00bdf04a81ba4,AI Developer / Data Scientist,False,Algomine,Remote,13 440 - 25 200 PLN,PLN
1,6356b67edfe00bdf04a81ba5,Data Scientist,False,Addepto,Remote,18 480 - 28 560 PLN,PLN
2,6356b67edfe00bdf04a81ba6,Machine Learning Engineer -Data Scientis,False,OpenX,Remote,16 000 - 24 000 PLN,PLN
3,6356b67edfe00bdf04a81ba7,Senior Data Scientist,True,hubQuest,Remote,25 000 - 34 000 PLN,PLN
4,6356b67edfe00bdf04a81ba8,Senior AI Engineer,True,Link Group,Remote,27 000 - 30 000 PLN,PLN

In [39]:
df['Salary'] = df['Salary'].apply(lambda x : x.split())
df['Salary'] = df['Salary'].apply(lambda x : "".join(x[0:2]))
df['Salary'] = df['Salary'].astype('int')
df['Salary'].head()

0    13440
1    18480
2    16000
3    25000
4    27000
Name: Salary, dtype: int32

In [41]:
updates = []

for _, row in df.iterrows():
    updates.append(pymongo.UpdateOne({'_id': row.get('_id')}, {'$set': {'Salary': row.get('Salary')}}, upsert=True))

collection.bulk_write(updates)